.upload-and-notes-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid #e9ede9;
    padding: 10px;
}
.upload-container{
    width: 70%;
    padding: 20px 0px 10px 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin-right: 50px;
    border: 1px solid #ccd6e7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ag-theme-quartz{

    .ag-center-cols-container{
        width: 100% !important;
    }
    
}